body{
	background: #eeeeee;
	margin: 0 auto;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #494949;
}

button{
	min-width: 120px;
	height: 100%;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	margin-left: 0.5em;
	border-radius: 2px;
	border: solid 1px #8bbd9e;
	background: #8bbd9e;
	cursor: pointer;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
}

button:hover{
	background: #2dbd63;
	border: solid 1px #2dbd63;
	color: white;
	transition: all 0.5s linear;
	-web-transition: all 0.5s linear;
}

#cajaTexto{
	margin: 0 auto;
	text-align: center;
	background: #ddd;
	height: 300px;
	border-bottom: solid 6px #8bbd9e;  
}

textarea{
	padding: 5px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
	font-size: 18px;
	width: 97%;
	margin-top: 10px;
	border-radius: 3px;
	border:solid 1px #bbb;
	min-height: 250px;
}

h2{
	font-weight: 300;
	color:white;
}

nav{
	background: #387ec5;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

input[type="text"]{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
	width: 10em;
	padding-left: 3px;
	padding-right: 3px;
	margin:0;
	font-size: 18px;
	color: #555;
	display: inline-block;
	margin-left: 0.5em;
	border-radius: 3px;
	border: solid 1px #ddd;
}

.titulob{
	color: #fff;
	font-size: 20px;
	display: inline-block;
	margin-left: 1em;
}

#detalles{
	text-align: center;
}

#detalles article{
	width: 31%;
	display: inline-block;
	vertical-align: top; 
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 0 0 4px 4px; 
	min-height: 150px;
	background: #6294c6;
}

#detalles article .titulo{
	font-weight: 400;
	color: #eee;
	margin-right: 4px;
}
#detalles article .detalle{
	font-weight: 300;
	color: #eee;
}

#detalles article .detalle,
#detalles article .titulo{
	display: inline-block;
	margin-bottom: 5px;
}

footer{
	text-align: center;
	margin: 0 auto;
}